<div class="container" style="margin-top : 4%">
    <button class="btn btn-info" (click)="productDetails()" >Products</button>
    &nbsp;
    <button class="btn btn-info" (click)="categoryDetails()" >Categories</button>
    &nbsp;
    <button class="btn btn-info" (click)="addProduct()" >Add Product</button>
    &nbsp;
    <button class="btn btn-info" (click)="addCategory()" >Add Category</button>
    &nbsp;
    <button class="btn btn-info" (click)=" showProducts()" >Product Grid</button>
</div>
